@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.tac {
  text-align: center;
}

.top-space {
  margin-top: 1rem;
}

.spinner-loader {
  width: 130px;
  height: 130px;
  margin: 60px auto;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

@keyframes rotate {
  0% {  transform: perspective(260px) rotateX(0deg) rotateY(0deg);  }
  50% {  transform: perspective(260px) rotateX(-180deg) rotateY(0deg);  }
  100% {  transform: perspective(260px) rotateX(-180deg) rotateY(-180deg);  }
}
@keyframes background {
  0% {  background-color: #27ae60;  }
  50% {  background-color: #9b59b6;  }
  100% {  background-color: #c0392b;  }
}
